# Python / Virtual Environment
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Evidence & Local DB data
data/evidence/
data/faces/
data/*.db
data/*.sqlite
*.mp4
inspect_frames/
*.csv

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
